/* navbar */
.topnav {
  overflow: hidden;
  background-color: #333;
  margin: 0px;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #4169E1;
  color: white;
}

* {
  font-family: Metropolis, Inter, X-LocaleSpecific, sans-serif;
}

.masjid-header {
  margin: 10px;
}

.masjid-name {
  margin: 0px;
  cursor: pointer;
  transition: color .5s;
}

.masjid-name:hover {
  color: #4169E1;
}

.masjid-address {
  margin: 0px;
}

.timings {
  margin: 10px;
}

.timing {
  margin-top: 10px;
  margin-bottom: 10px;
}

.timing-day {
  background: lightblue;
}

.timing-dark {
  background: deepskyblue;
}


.timing-prayer {
  text-transform: capitalize;
}

.timing-time {

}

.timing-range {
  font-size: 10px;
  color: #757575;
}

.center-component {
  display: flex;
  justify-content:center;
  align-items:center;
}

a+a {
  margin-left: 6px;
}
